# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.venv/
venv/
env/
**/.venv/

# VS Code
.vscode/
.vscode-server/
**/.vscode-server/

# Node / misc
node_modules/
# VS Code Remote / Server
.vscode-server/
**/.vscode-server/
